.App {
  text-align: center;
}
.btnmy {
  padding: 0;
  background-color: transparent;
  border: none;
}
.far {
  font-size: 20px;
  color: rgba(27, 44, 144, 0.698);
}
.fas {
  font-size: 25px;
  color: red;
}
.btnContainer {
  position: absolute;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.mr-auto {
  width: 30%;
  justify-content: space-evenly;
}
.list-group-item {
  border: none !important;
  margin: 2rem;
  text-align: center;
  border-radius: 15px;
}
.form-inline {
  padding: 0 2rem;
}
.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  padding: 3rem;
}


.list-group-item:last-child {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.list-group-item:first-child {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
}
.form-control {
  flex: 10
}
.btn {
  flex: 1;
}
.load {
  text-align: center;
  margin: 2rem;
}
.accordion {
  padding: 30px;
}
.btn-back {
  margin-top: -3rem;
  margin-left: -3rem;
}
.charInfo {
  padding: 2rem 2rem !important;
}
.greet {
  text-align: center;
}